md-card.get-quote{
  //background-color: rgba(235,236,250,0.7);
  //color: $canopy-dark-blue;
  //margin: 20px 0 25px 0;
  //padding: 20px 15px;
  //border: 1px solid darken($canopy-background, 30%);
  border: 1px solid grey;
  overflow: hidden;
  text-align: center;
  h2{
    //font-size: 25px;
    //font-weight: 200;
    //margin: 10px 0 20px 0;
  }
  .quote-container{
    h3{
      //font-size: 16px;
      //font-weight: 400;
      //margin: 20px 0 5px;
    }
    h3:first-child{
      //margin-bottom: 20px;
    }
    p{
      //font-size: 12px;
      //font-weight: 200;
      color: #000;
      //line-height: 14px;
    }
    .line{
      font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
      //margin: 10px 0;
      span{
        //font-size: 15px;
        //line-height: 18px;
        vertical-align: middle;
      }
      //md-input-container{
      //  margin: 0 0 5px;
      //  label{
      //    margin-bottom: -6px;
      //    opacity: .4;
      //  }
      //  .ng-untouched{
      //    .md-select-value{
      //      .md-text{
      //        color: #859296;
      //        opacity: .5;
      //      }
      //    }
      //  }
      //}
      //.md-input-focused{
      //  label{
      //    opacity: 1;
      //  }
      //}
      //.md-button{
      //  //background-color: $canopy-dark-blue;
      //  background-color: #333;
      //  border-radius: 0;
      //  color: #fff;
      //  font-size: 16px;
      //  font-family: 'Work Sans', sans-serif;
      //  font-weight: 400;
      //  margin-top: 25px;
      //  padding: 2px 30px;
      //  text-transform: none;
      //}

      p.md-caption{
        color: #555;
      }
    }
    .tab-container{
      float: left;
      width: 100%;
      margin-top: 15px;
      .tabs{
        .tab{
          //background-color: rgba(187,210,207,0.5);
          //border: 1px solid darken($canopy-background, 20%);
          background-color: rgb(128, 128, 128);
          border: 1px solid rgb(120, 120, 120);
          border-left: none;
          text-align: center;
          width: 50%;
          margin: 0;
          //padding: 5px 10px;
          float: left;
          //line-height: 19px;
          .fa{
            color: #333;
            //font-size: 14px;
            //padding-right: 3px;
          }
          span{
            color: #000;
            //font-size: 14px;
            //font-weight: 400;
          }
        }

        .tab:first-child{
          border-left: 1px solid rgb(120, 120, 120);
          .fa {
            //font-size: 16px;
            vertical-align: middle;
          }
        }
        .tab:active, .tab:visited, .tab:focus{
          outline: none;
        }

        .tab-active{
          background-color: rgba(250, 255, 255, 0.5);
          border-bottom: 1px solid rgba(250, 255, 255, 0.1);
        }

        .tab:last-child {
          display: none;
        }
      }
      .default, .help{
        //background-color: rgba(250, 255, 255, 0.5);
        border: 1px solid rgb(120, 120, 120);
        border-top: none;
        float: left;
        width: 100%;
        .line{
          padding: 5px 5px 0;
        }
      }

      .help{
        md-input-container{
          width: 100px;
        }
        .md-errors-spacer{
          display: none;
        }
        .md-input-has-value{
          .ng-untouched{
            color: #859296;
            opacity: .5;
          }
        }
        .md-input{
          padding-bottom: 0;
        }
        p{
          opacity: .33;
          padding: 5px 5px 0;
        }
      }
    }
  }
}

md-card.get-quote{
  margin: 50px 0 25px 0;
  padding: 0;
  text-align: center;

  .header{
    margin: 0;
    background: lightgray;
    border-bottom: 1px solid gray;
    padding: 20px 0 15px;

    h2{
      font-size: 21px;
      font-weight: 400;
      margin: 0 0 5px 0;
    }
    p {
      font-weight: 300;
      margin: 0;
    }
  }
  .quote-container{
    padding: 25px 15px;
    h3{
      font-size: 18px;
      font-weight: 400;
      margin: 0 0 8px;
    }
    h3:first-child{

    }
    p{
      font-size: 14px;
      font-weight: 300;
      line-height: 14px;
    }
    .basic-info{
      padding: 5px 0 20px;
      .line{
        float: none;
        display: inline-block;
        margin: 10px 0;
        span{
          font-size: 16px;
          line-height: 22px;
          font-weight: 200;
        }
        md-input-container{
          margin: 0 0 5px;
          padding: 0 5px;
          text-align: left;
          label{
            margin-bottom: -4px;
            padding-left: 10px
          }
          .md-text{
            font-size: 20px;
          }
          .ng-untouched{
            .md-select-value{
              .md-text{
                color: #859296;
                font-weight: 100;
                opacity: .9;
              }
            }
          }
        }
        .md-input-focused{
          label{
            opacity: 1;
          }
        }
      }
    }
    .coverage-instructions{
      h3{
        margin-bottom: 5px;
      }
      p{
        font-size: 13px;
        margin-bottom: 2px;
      }
    }

    .tab-container{
      margin-top: 15px;
      .tab{
        width: 25%;
        padding: 5px 10px;
        line-height: 19px;
        .fa{
          font-size: 14px;
          padding-right: 3px;
        }
        span{
          font-size: 16px;
          font-weight: 300;
          line-height: 24px;
        }
      }

      .tab:first-child{
        .fa {
          font-size: 16px;
        }
      }
      .tab:last-child {
        width: 50%;
        display: inherit;
        height: 50px;
      }
    }
    .default, .help{
      border: 1px solid #787878;
      border-top: none;
      float: left;
      padding: 12px 0 8px;
      width: 100%;
      .line{
        padding: 5px 5px 0;
        span{
          font-size: 16px;
          line-height: 22px;
          font-weight: 200;
        }
        md-input-container{
          margin: 0 0 5px;
          padding: 0 5px;
          text-align: left;
          label{
            margin-bottom: -4px;
            padding-left: 10px
          }
          .md-text{
            font-size: 20px;
          }
          .ng-untouched{
            .md-select-value{
              .md-text{
                color: #859296;
                font-weight: 100;
                opacity: .9;
              }
            }
          }
        }
        .md-input-focused{
          label{
            opacity: 1;
          }
        }
      }
    }
    .help{
      padding: 18px 0 8px;
      md-input-container{
        width: 100px;
      }

      .md-input-has-value{
        .ng-untouched{
          color: #859296;
          opacity: .5;
        }
      }
      .md-input{
        padding-bottom: 0;
      }
      p{
        font-size: 12px;
        margin: 0;
        opacity: .33;
        padding: 5px 5px 0;
      }
    }

    .md-button{
      //background-color: $canopy-dark-blue;
      background-color: #333;
      border-radius: 0;
      color: #fff;
      font-size: 16px;
      font-family: 'Work Sans', sans-serif;
      font-weight: 400;
      margin-top: 25px;
      padding: 2px 30px;
      text-transform: none;
    }

    p.md-caption{
      font-size: 12px;
      margin-top: 25px;
    }
  }
}

@media only screen and (min-width : 480px) {
  //md-card.get-quote{
  //  margin: 20px 0 25px 0;
  //  padding: 20px 15px;
  //  h2{
  //    font-size: 28px;
  //    font-weight: 400;
  //    margin: 10px 0 20px 0;
  //  }
  //  .quote-container{
  //    h3{
  //      font-size: 24px;
  //      font-weight: 300;
  //      margin: 20px 0 5px;
  //    }
  //    h3:first-child{
  //      margin-bottom: 15px;
  //    }
  //    p{
  //      font-size: 12px;
  //      font-weight: 200;
  //      line-height: 14px;
  //    }
  //    .line{
  //      margin: 10px 0;
  //      span{
  //        font-size: 20px;
  //        line-height: 25px;
  //        font-weight: 200;
  //      }
  //      md-input-container{
  //        margin: 0 0 5px;
  //        label{
  //          margin-bottom: -6px;
  //          opacity: .5;
  //        }
  //        .ng-untouched{
  //          .md-select-value{
  //            .md-text{
  //              color: #859296;
  //              opacity: .75;
  //            }
  //          }
  //        }
  //      }
  //      .md-input-focused{
  //        label{
  //          opacity: 1;
  //        }
  //      }
  //      .md-button{
  //        font-size: 16px;
  //        margin-top: 25px;
  //        padding: 2px 30px;
  //      }
  //    }
  //    .tab-container{
  //      margin-top: 15px;
  //      .tab{
  //        padding: 5px 10px;
  //        line-height: 19px;
  //        .fa{
  //          font-size: 14px;
  //          padding-right: 3px;
  //        }
  //        span{
  //          font-size: 14px;
  //          font-weight: 400;
  //        }
  //      }
  //
  //      .tab:first-child{
  //        .fa {
  //          font-size: 16px;
  //        }
  //      }
  //      .tab:last-child {
  //      }
  //    }
  //    .default, .help{
  //      .line{
  //        padding: 5px 5px 0;
  //      }
  //    }
  //
  //    .help{
  //      md-input-container{
  //        width: 100px;
  //      }
  //
  //      .md-input-has-value{
  //        .ng-untouched{
  //          color: #859296;
  //          opacity: .5;
  //        }
  //      }
  //      .md-input{
  //        padding-bottom: 0;
  //      }
  //      p{
  //        opacity: .33;
  //        padding: 5px 5px 0;
  //      }
  //    }
  //  }
  //}
}

@media only screen and (min-width : 768px) {

}

@media only screen and (min-width : 992px) {

}

@media only screen and (min-width : 1200px) {
  md-card.get-quote{
    margin: 50px 0 25px 0;
    padding: 0;
    text-align: center;

    .header{
      margin: 0;
      background: lightgray;
      border-bottom: 1px solid gray;
      padding: 20px 0 15px;

      h2{
        font-size: 21px;
        font-weight: 400;
        margin: 0 0 5px 0;
      }
      p {
        font-weight: 300;
        margin: 0;
      }
    }
    .quote-container{
      padding: 25px 15px;
      h3{
        font-size: 18px;
        font-weight: 400;
        margin: 0 0 8px;
      }
      h3:first-child{

      }
      p{
        font-size: 14px;
        font-weight: 300;
        line-height: 14px;
      }
      .basic-info{
        padding: 5px 0 20px;
        .line{
          float: none;
          display: inline-block;
          margin: 10px 0;
          span, .md-input{
            font-size: 16px;
            line-height: 22px;
            font-weight: 200;
          }
          md-input-container{
            margin: 0 0 5px;
            padding: 0 5px;
            text-align: left;
            label{
              margin-bottom: -4px;
              padding-left: 10px
            }
            .md-text, md-input{
              font-size: 20px;
            }
            .ng-untouched.md-input, .ng-untouched .md-text{
                color: #859296;
                font-weight: 100;
                opacity: .9;
            }
          }
          .md-input-focused{
            label{
              opacity: 1;
            }
          }
        }
      }
      .coverage-instructions{
        h3{
          margin-bottom: 5px;
        }
        p{
          font-size: 13px;
          margin-bottom: 2px;
        }
      }

      .tab-container{
        margin-top: 15px;
        .tab{
          width: 25%;
          padding: 5px 10px;
          line-height: 19px;
          .fa{
            font-size: 14px;
            padding-right: 3px;
          }
          span{
            font-size: 16px;
            font-weight: 300;
            line-height: 24px;
          }
        }

        .tab:first-child{
          .fa {
            font-size: 16px;
          }
        }
        .tab:last-child {
          width: 50%;
          display: inherit;
          height: 50px;
        }
      }
      .default, .help{
        border: 1px solid #787878;
        border-top: none;
        float: left;
        padding: 12px 0 8px;
        width: 100%;
        .line{
          padding: 5px 5px 0;
          span, .md-input{
            font-size: 16px;
            line-height: 22px;
            font-weight: 200;
          }
          md-input-container{
            margin: 0 0 5px;
            padding: 0 5px;
            text-align: left;
            label{
              margin-bottom: -4px;
              padding-left: 10px
            }
            .md-text, .md-input{
              font-size: 20px;
            }

            .md-input{
              font-family: 'Work Sans', sans-serif;
              font-weight: 200;
              opacity: 1;
            }
            .ng-untouched.md-input, .ng-untouched .md-text{
              color: #859296;
              font-weight: 100;
              opacity: .9;
            }
          }
          .md-input-focused{
            label{
              opacity: 1;
            }
          }
        }
      }
      .help{
        padding: 18px 0 8px;
        md-input-container{
          width: 100px;
        }

        .md-input-has-value{
          .ng-untouched{
            color: #859296;
            opacity: .5;
          }
        }
        .md-input{
          padding-bottom: 0;
        }
        p{
          font-size: 12px;
          margin: 0;
          opacity: .33;
          padding: 5px 5px 0;
        }
      }

      .md-button{
        //background-color: $canopy-dark-blue;
        background-color: #333;
        border-radius: 0;
        color: #fff !important;
        font-size: 16px !important;
        font-family: 'Work Sans', sans-serif;
        font-weight: 400;
        margin-top: 25px;
        padding: 2px 30px;
        text-transform: none;
      }

      p.md-caption{
        font-size: 12px;
        margin-top: 25px;
      }
    }
  }
}
