.navbar.navbar-default{
  background-color: $canopy-background;
  border-color: darken($canopy-background, 10%);
  border-radius: 0;
  .navbar-brand{
    height: 67px;
    img{
      width: 100px;
    }
  }
  .navbar-nav{
    margin-top: 20px;
    li{
      margin-left: 20px;
      a{
        color: darken($canopy-text, 5%);
      }
    }
    li.active > a, li a:hover{
      background-color: inherit;
      color: desaturate($canopy-green, 25%);
    }
  }
  .navbar-toggle{
    margin-top: 15px;
  }
}

@media only screen and (min-width : 480px) {
  .navbar.navbar-default{
    .navbar-brand{
      height: 77px;
      img{
        width: 125px;
      }
    }
    .navbar-toggle{
      margin-top: 21px;
    }
  }
}

/* Small Devices, Tablets */
@media only screen and (min-width : 768px) {
  .navbar.navbar-default{
    .navbar-brand{
      height: 86px;
      img{
        width: 150px;
      }
    }
  }
}

/* Medium Devices, Desktops */
@media only screen and (min-width : 992px) {

}

/* Large Devices, Wide Screens */
@media only screen and (min-width : 1200px) {

}

