<header class="navbar navbar-default navbar-fixed-top navbar-inner">
  <div class="container">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-3" ng-click="isCollapsed = !isCollapsed">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="javascript:void(0);" ui-sref="main"><img src="assets/images/canopy.png" alt="Canopy UI"/></a>
    </div>
    <nav class="hidden-xs">
      <ul class="nav navbar-nav pull-right">
        <li ng-class="{'active': ctrl.state == 'about'}"><a href="javascript:void(0);" ui-sref="about">About</a></li>
        <li ng-class="{'active': ctrl.state == 'blog'}"><a href="javascript:void(0);" ui-sref="blog">Blog</a></li>
        <li ng-class="{'active': ctrl.state == 'contact'}"><a href="javascript:void(0);" ui-sref="contact">Contact</a></li>
      </ul>

    </nav>
    <nav class="visible-xs collapse" uib-collapse="!isCollapsed" style="height: 0px; overflow: hidden;">
      <ul class="nav navbar-nav">
        <li ng-class="{'active': ctrl.state == 'about'}"><a href="javascript:void(0);" ui-sref="about">About</a></li>
        <li ng-class="{'active': ctrl.state == 'blog'}"><a href="javascript:void(0);" ui-sref="blog">Blog</a></li>
        <li ng-class="{'active': ctrl.state == 'contact'}"><a href="javascript:void(0);" ui-sref="contact">Contact</a></li>
      </ul>
    </nav>
  </div>
</header>
