<div class="gen-app">
  <div class="container">
    <h1>Application</h1>
    <md-card class="col-xs-12 col-md-6">
      <md-card-title>
        <md-card-title-text>
          <span class="md-headline">{{ctrl.policyInfo.carrier}}</span>
          <span class="md-subhead"><b>Face Value:</b> {{ctrl.policyInfo.amount}}</span>
          <span class="md-subhead"><b>Term</b> {{ctrl.policyInfo.term}}</span>
          <span class="md-subhead"><b>Premium:</b> ${{ctrl.policyInfo.premium.toFixed(2)}}</span>
        </md-card-title-text>
        <md-card-title-media>
          <div class="md-media-sm card-media">
            <img ng-src="../assets/images/{{ctrl.policyInfo.carrier.toLowerCase()}}.jpg" alt=""/>
          </div>
        </md-card-title-media>
      </md-card-title>
    </md-card>
    <div layout="column" ng-cloak class="md-inline-form col-xs-12">
      <md-content layout-padding>
        <form name="personalInformation">
          <h2>Let's get some information about you:</h2>
          <md-input-container class="md-block">
            <label>First name</label>
            <input ng-model="ctrl.application.details.firstName">
          </md-input-container>
          <md-input-container class="md-block">
            <label>Last Name</label>
            <input ng-model="ctrl.application.details.lastName">
          </md-input-container>
          <md-input-container class="md-block">
            <label>Email Address</label>
            <input ng-model="ctrl.application.details.email" type="email">
          </md-input-container>
          <md-input-container class="md-block">
            <label>Phone Number</label>
            <input ng-model="ctrl.application.details.phone" type="text" mask="(999)999-9999">
          </md-input-container>
          <h6>What's your Date of Birth</h6>
          <md-datepicker ng-model="ctrl.application.details.dob" md-placeholder="Enter date" md-min-date="ctrl.minDate"
                         md-max-date="ctrl.maxDate"></md-datepicker>

          <md-switch ng-model="ctrl.application.details.citizen" class="md-primary">
            I {{ctrl.application.details.citizen ? 'am' : 'am not'}} a US Citizen.
          </md-switch>
          <md-input-container class="md-block">
            <label>Drivers License State</label>
            <md-select ng-model="ctrl.application.details.driversLicense.state">
              <md-option ng-repeat="state in ctrl.states" value="{{state}}">
                {{state}}
              </md-option>
            </md-select>
          </md-input-container>
          <md-input-container class="md-block">
            <label>Drivers License Number</label>
            <input ng-model="ctrl.application.details.driversLicense.number" type="text">
          </md-input-container>

          <div class="animate-show" ng-show="ctrl.application.details.citizen">
            <md-switch ng-model="ctrl.homeState" class="md-primary">
              I {{ctrl.homeState ? 'was' : 'was not'}} born in {{ctrl.application.details.driversLicense.state}}.
            </md-switch>
          </div>
          <md-input-container class="md-block" ng-hide="ctrl.homeState || !ctrl.application.details.citizen">
            <label>So then where were you born?</label>
            <md-select ng-model="ctrl.application.details.birthState">
              <md-option ng-repeat="state in ctrl.states" value="{{state}}">
                {{state}}
              </md-option>
            </md-select>
          </md-input-container>
          <div class="animate-show" ng-show="ctrl.application.details.citizen">
            <md-input-container class="md-block">
              <label>Social Security Number</label>
              <input ng-model="ctrl.application.details.ssn" type="text" mask="999-99-9999">
            </md-input-container>
          </div>
          <md-input-container class="md-block">
            <label>Employer Name</label>
            <input ng-model="ctrl.application.details.employmentDetails.name" type="text">
          </md-input-container>
          <md-input-container class="md-block">
            <label>What is your current salary?</label>
            <md-select ng-model="ctrl.application.details.employmentDetails.salary">
              <md-option value="lessThan">
                Less than $100,000
              </md-option>
              <md-option value="moreThan">
                $100,000 or more
              </md-option>
            </md-select>
          </md-input-container>
          <md-switch ng-model="ctrl.application.details.married" class="md-primary">
            I {{ctrl.application.details.married ? 'am' : 'am not'}} married.
          </md-switch>
          <md-input-container class="md-block">
            <label>What's your approximate net worth?</label>
            <input ng-model="ctrl.application.details.netWorth" currency-mask>
          </md-input-container>
          <md-input-container class="md-block">
            <label>What is your reason for buying insurance?</label>
            <md-select ng-model="ctrl.application.details.reasonToBuy">
              <md-option value="income">
                To replace my income
              </md-option>
              <md-option value="debt">
                To pay off debt
              </md-option>
              <md-option value="business">
                To keep my business running
              </md-option>
              <md-option value="family">
                To protect my loved ones
              </md-option>
            </md-select>
          </md-input-container>
          <md-input-container class="md-block">
            <label>How should we contact you?</label>
            <md-select ng-model="ctrl.application.details.contactMethod">
              <md-option value="call">
                Call Me
              </md-option>
              <md-option value="email">
                Email Me
              </md-option>
              <md-option value="text">
                Text Me
              </md-option>
            </md-select>
          </md-input-container>
        </form>
        <form name="beneficiaryInformation">
          <h2>Let's talk beneficiaries:</h2>
          <h3>If you should die unexpectedly, who should receive the proceeds?</h3>
          <md-input-container class="md-block">
            <label>First name</label>
            <input ng-model="ctrl.application.beneficiaries.primary.firstChoice.firstName">
          </md-input-container>
          <md-input-container class="md-block">
            <label>Last name</label>
            <input ng-model="ctrl.application.beneficiaries.primary.firstChoice.lastName" ng-model-options="{ debounce: 300 }">
          </md-input-container>
          <md-input-container class="md-block animate-show" ng-show="ctrl.application.beneficiaries.primary.firstChoice.firstName.length > 0 && ctrl.application.beneficiaries.primary.firstChoice.lastName.length > 0">
            <label>What's your relationship to {{ctrl.application.beneficiaries.primary.firstChoice.firstName}} {{ctrl.application.beneficiaries.primary.firstChoice.lastName}}?</label>
            <input ng-model="ctrl.application.beneficiaries.primary.firstChoice.relationship">
          </md-input-container>
          <md-input-container class="md-block animate-show" ng-show="ctrl.application.beneficiaries.primary.firstChoice.firstName.length > 0 && ctrl.application.beneficiaries.primary.firstChoice.lastName.length > 0">
            <label>What percentage of the proceeds should {{ctrl.application.beneficiaries.primary.firstChoice.firstName}} get?</label>
            <input ng-model="ctrl.application.beneficiaries.primary.firstChoice.proceeds" type="number" ng-model-options="{ debounce: 100 }">
          </md-input-container>

          <div class="backup animate-show" ng-show="ctrl.application.beneficiaries.primary.firstChoice.firstName && ctrl.application.beneficiaries.primary.firstChoice.lastName && ctrl.application.beneficiaries.primary.firstChoice.relationship && ctrl.application.beneficiaries.primary.firstChoice.proceeds">
            <h3>Who is 'Plan B' if {{ctrl.application.beneficiaries.primary.firstChoice.firstName}} is not around?</h3>
            <md-input-container class="md-block">
              <label>First name</label>
              <input ng-model="ctrl.application.beneficiaries.primary.secondChoice.firstName">
            </md-input-container>
            <md-input-container class="md-block">
              <label>Last name</label>
              <input ng-model="ctrl.application.beneficiaries.primary.secondChoice.lastName" ng-model-options="{ debounce: 300 }">
            </md-input-container>
            <md-input-container class="md-block animate-show" ng-show="ctrl.application.beneficiaries.primary.secondChoice.firstName.length > 0 && ctrl.application.beneficiaries.primary.secondChoice.lastName.length > 0">
              <label>What's your relationship to {{ctrl.application.beneficiaries.primary.secondChoice.firstName}} {{ctrl.application.beneficiaries.primary.secondChoice.lastName}}?</label>
              <input ng-model="ctrl.application.beneficiaries.primary.secondChoice.relationship">
            </md-input-container>
            <md-input-container class="md-block animate-show" ng-show="ctrl.application.beneficiaries.primary.secondChoice.firstName.length > 0 && ctrl.application.beneficiaries.primary.secondChoice.lastName.length > 0">
              <label>What percentage of the proceeds should {{ctrl.application.beneficiaries.primary.secondChoice.firstName}} get?</label>
              <input ng-model="ctrl.application.beneficiaries.primary.secondChoice.proceeds" type="number" ng-model-options="{ debounce: 100 }">
            </md-input-container>
          </div>


          <div class="secondary animate-show" ng-show="ctrl.application.beneficiaries.primary.secondChoice.proceeds < 100 || ctrl.application.beneficiaries.primary.secondChoice.proceeds < 100">
            <h3>Who should get the rest of the proceeds?</h3>
            <md-input-container class="md-block">
              <md-select ng-model="ctrl.beneficiaries.secondary.firstChoice.estate">
                <md-option value="true" selected>
                  My Estate
                </md-option>
                <md-option value="false">
                  Someone Else
                </md-option>
              </md-select>
            </md-input-container>
            <div class="animate-show" ng-show="ctrl.beneficiaries.secondary.firstChoice.estate === 'false'">
              <md-input-container class="md-block">
                <label>First name</label>
                <input ng-model="ctrl.application.beneficiaries.secondary.firstChoice.firstName">
              </md-input-container>
              <md-input-container class="md-block">
                <label>Last name</label>
                <input ng-model="ctrl.application.beneficiaries.secondary.firstChoice.lastName" ng-model-options="{ debounce: 300 }">
              </md-input-container>
              <md-input-container class="md-block animate-show" ng-show="ctrl.application.beneficiaries.secondary.firstChoice.firstName.length > 0 && ctrl.application.beneficiaries.secondary.firstChoice.lastName.length > 0">
                <label>What's your relationship to {{ctrl.application.beneficiaries.secondary.firstChoice.firstName}} {{ctrl.application.beneficiaries.secondary.firstChoice.lastName}}?</label>
                <input ng-model="ctrl.application.beneficiaries.secondary.firstChoice.relationship">
              </md-input-container>
              <div class="backup animate-show" ng-show="ctrl.application.beneficiaries.secondary.firstChoice.firstName.length > 0 && ctrl.application.beneficiaries.secondary.firstChoice.lastName.length > 0 && ctrl.application.beneficiaries.secondary.firstChoice.relationship.length > 0 && ctrl.beneficiaries.secondary.firstChoice.estate === 'false'">
                <h3>Who is 'Plan B' if {{ctrl.application.beneficiaries.secondary.firstChoice.firstName}} is not around?</h3>
                <md-input-container class="md-block">
                  <label>First name</label>
                  <input ng-model="ctrl.application.beneficiaries.secondary.secondChoice.firstName">
                </md-input-container>
                <md-input-container class="md-block">
                  <label>Last name</label>
                  <input ng-model="ctrl.application.beneficiaries.secondary.secondChoice.lastName" ng-model-options="{ debounce: 300}">
                </md-input-container>
                <md-input-container class="md-block animate-show" ng-show="ctrl.application.beneficiaries.secondary.secondChoice.firstName.length > 0 && ctrl.application.beneficiaries.secondary.secondChoice.lastName.length > 0">
                  <label>What's your relationship to {{ctrl.application.beneficiaries.secondary.secondChoice.firstName}} {{ctrl.application.beneficiaries.secondary.secondChoice.lastName}}?</label>
                  <input ng-model="ctrl.application.beneficiaries.secondary.secondChoice.relationship">
                </md-input-container>
              </div>
            </div>
          </div>
        </form>
        <form name="health">
          <h2>Let's talk health:</h2>
          <div class="height">
            <h6>How tall are you?</h6>
            <md-input-container>
              <label>Feet</label>
              <md-select ng-model="ctrl.application.health.height.feet">
                <md-option ng-repeat="feet in ctrl.getArray(8) | limitTo:6:3 track by $index">{{$index + 3}}</md-option>
              </md-select>
            </md-input-container>
            <md-input-container>
              <label>Inches</label>
              <md-select ng-model="ctrl.application.health.height.inches">
                <md-option ng-repeat="inches in ctrl.getArray(12) track by $index">{{$index}}</md-option>
              </md-select>
            </md-input-container>
          </div>
          <div class="weight">
            <h6>How mugh do you weigh?</h6>
            <md-input-container>
              <label>Lbs</label>
              <input ng-model="ctrl.application.health.weight" type="number">
            </md-input-container>
          </div>
          <md-switch ng-model="ctrl.application.health.prescriptionDrugs" class="md-warn">
            I {{ctrl.application.health.prescriptionDrugs ? '' : 'do not'}} take prescription medication.
          </md-switch>
          <div class="animate-show" ng-show="ctrl.application.health.prescriptionDrugs">
            <md-switch ng-model="ctrl.application.health.bpMedication" class="md-warn">
            I {{ctrl.application.health.bpMedication ? '' : 'do not'}} take medication for my blood pressure.
            </md-switch>
            <md-switch ng-model="ctrl.application.health.cholesterolMedication" class="md-warn">
              I {{ctrl.application.health.cholesterolMedication ? '' : 'do not'}} take medication for my cholesterol.
            </md-switch>
            <md-input-container class="md-block">
              <label>List the names of your prescriptions</label>
              <input ng-model="ctrl.application.health.prescriptionList">
            </md-input-container>
          </div>
          <md-switch ng-model="ctrl.application.health.familyHistory.disease" class="md-warn">
            I {{ctrl.application.health.familyHistory.disease ? '' : 'do not'}} have parents or siblings who have been diagnosed with or died from heart disease, diabetes or cancer.
          </md-switch>
          <md-switch ng-model="ctrl.application.health.familyHistory.earlyDeath" class="md-warn">
            I {{ctrl.application.health.familyHistory.earlyDeath ? '' : 'do not'}} have parents or siblings who have died before the age of 60.
          </md-switch>
          <div class="animate-show" ng-show="ctrl.application.health.familyHistory.earlyDeath">
            <md-input-container>
              <label>How old?</label>
              <input ng-model="ctrl.application.health.familyHistory.earlyDeathAge" type="number">
            </md-input-container>
            <md-input-container class="md-block">
              <label>What was the cause?</label>
              <input ng-model="ctrl.application.health.familyHistory.earlyDeathCause">
            </md-input-container>
          </div>
        </form>
        <form name="background">
          <h2>Just a little more about your background:</h2>
          <md-switch ng-model="ctrl.application.background.insurance.status" class="md-primary">
            I {{ctrl.application.background.insurance.status ? '' : 'do not'}} currently have insurance.
          </md-switch>
          <div class="animate-show" ng-show="ctrl.application.background.insurance.status">
            <md-input-container class="md-block">
              <label>What's the Face Value of that policy?</label>
              <input ng-model="ctrl.application.background.insurance.faceValue">
            </md-input-container>
            <md-input-container class="md-block">
              <label>What company is that with?</label>
              <input ng-model="ctrl.application.background.insurance.company">
            </md-input-container>
            <md-switch ng-model="ctrl.application.background.insurance.keep" class="md-primary">
              I'm {{ctrl.application.background.insurance.keep ? '' : 'not'}} planning on keeping it.
            </md-switch>
          </div>
          <md-switch ng-model="ctrl.application.background.insuranceApplication.status" class="md-primary">
            I {{ctrl.application.background.insuranceApplication.status ? 'am' : 'am not'}} currently in the process of applying for other insurance.
          </md-switch>
          <div class="animate-show" ng-show="ctrl.application.background.insuranceApplication.status">
            <md-input-container class="md-block">
              <label>What's the Face Value of that policy?</label>
              <input ng-model="ctrl.application.background.insuranceApplication.faceValue">
            </md-input-container>
            <md-input-container class="md-block">
              <label>What company is that with?</label>
              <input ng-model="ctrl.application.background.insuranceApplication.company">
            </md-input-container>
          </div>
          <md-switch ng-model="ctrl.application.background.declinedCoverage.status" class="md-primary">
            I {{ctrl.application.background.declinedCoverage.status ? 'have' : 'have not'}} had coverage postponed or suspended.
          </md-switch>
          <md-input-container class="md-block animate-show" ng-show="ctrl.application.background.declinedCoverage.status">
            <label>Please explain:</label>
            <input ng-model="ctrl.application.background.declinedCoverage.details">
          </md-input-container>
          <md-switch ng-model="ctrl.application.background.bankruptcy.status" class="md-primary">
            I {{ctrl.application.background.bankruptcy.status ? 'have' : 'have not'}} declared bankruptcy.
          </md-switch>
          <md-input-container class="md-block animate-show" ng-show="ctrl.application.background.bankruptcy.status">
            <label>Please explain:</label>
            <input ng-model="ctrl.application.background.bankruptcy.details">
          </md-input-container>
          <md-switch ng-model="ctrl.application.background.military" class="md-primary">
            I {{ctrl.application.background.military ? 'am' : 'am not'}} in the military.
          </md-switch>
          <md-switch ng-model="ctrl.application.background.internationalTravel.status" class="md-primary">
            I {{ctrl.application.background.internationalTravel.status ? 'am' : 'am not'}} planning to travel outside the US in the next 6 months.
          </md-switch>
          <md-input-container class="md-block animate-show" ng-show="ctrl.application.background.internationalTravel.status">
            <label>Where are you going and for how long?</label>
            <input ng-model="ctrl.application.background.internationalTravel.details">
          </md-input-container>
          <md-switch ng-model="ctrl.application.background.pilot" class="md-primary">
            I {{ctrl.application.background.pilot ? 'am' : 'am not'}} a pilot or currently taking flying lessons.
          </md-switch>
          <md-switch ng-model="ctrl.application.background.felony.status" class="md-primary">
            I {{ctrl.application.background.felony.status ? 'have' : 'have never'}} been convicted or plead no contest to a felony.
          </md-switch>
          <md-input-container class="md-block animate-show" ng-show="ctrl.application.background.felony.status">
            <label>Please explain:</label>
            <input ng-model="ctrl.application.background.felony.details">
          </md-input-container>
          <md-switch ng-model="ctrl.application.background.hazardousActivity.status" class="md-primary">
            I {{ctrl.application.background.hazardousActivity.status ? '' : 'do not'}} participate in hazardous activities such as skydiving, auto racing or bungee jumping.
          </md-switch>
          <md-input-container class="md-block animate-show" ng-show="ctrl.application.background.hazardousActivity.status">
            <label>Please explain:</label>
            <input ng-model="ctrl.application.background.hazardousActivity.details">
          </md-input-container>
          <md-switch ng-model="ctrl.application.background.dui.status" class="md-primary">
            I {{ctrl.application.background.dui.status ? 'have' : 'have not'}} been convicted of a DUI.
          </md-switch>
          <md-switch ng-model="ctrl.application.background.licenseSuspended.status" class="md-primary">
            I {{ctrl.application.background.licenseSuspended.status ? 'have' : 'have not'}} had my drivers license suspended in the past 5 years.
          </md-switch>
          <md-input-container class="md-block animate-show" ng-show="ctrl.application.background.licenseSuspended.status">
            <label>Please explain the circumstances:</label>
            <input ng-model="ctrl.application.background.licenseSuspended.details">
          </md-input-container>
          <md-switch ng-model="ctrl.application.background.movingViolations.status" class="md-primary">
            Not including DUI's, I {{ctrl.application.background.movingViolations.status ? 'have received one or more' : 'have not received any'}} traffic tickets in the past 5 years.
          </md-switch>
          <md-input-container class="md-block animate-show" ng-show="ctrl.application.background.movingViolations.status">
            <label>Please explain:</label>
            <input ng-model="ctrl.application.background.movingViolations.details">
          </md-input-container>
        </form>
      </md-content>
    </div>
    <div class="col-xs-12">
      <md-button class="md-raised md-primary" ng-click="ctrl.submit()">Submit</md-button>
    </div>
  </div>
</div>
