/**
 * App-wide Styles
 */
.browsehappy {
  margin: 0.2em 0;
  background: #ccc;
  color: #000;
  padding: 0.2em 0;
}

//Variables
$canopy-background: #e8efee;
$canopy-background-blue: #003d39;

$canopy-dark-blue: #0b3d39;
$canopy-green: #7ec900;
$canopy-text: #828C8C;
$white: #fff;





.bg-grey{
  background-color: $canopy-background !important;
}

.bg-light-grey{
  background-color: lighten($canopy-background, 15%) !important;
}

.bg-dark-grey{
  background-color: darken($canopy-background, 70%) !important;
}

.bg-white{
  background-color: $white !important;;
}

.bg-blue{
  background-color: $canopy-background-blue !important;;
}

.bg-green{
  background-color: $canopy-green !important;;
}







//Typography
body {
  font-family: 'Work Sans', sans-serif;
}

.center-text{
  text-align: center;
}


//Buttons
a.md-button.md-accent.md-raised{
  *{
    color: $white !important;
    font-size: 14px !important;
    text-transform: none;
  }
}


//Animations
.animate-show {
  transform: scale(1);
  opacity: 1;
  transition: transform .33s ease-in-out, opacity .33s ease-in-out;
  transform-origin: top;
}

.animate-show.ng-hide-add{
  animation: anim-in .33s ease-in-out;
}

.animate-show.ng-hide-remove {
  animation: anim-out .33s ease-in-out;
}

.animate-show.ng-hide {
  opacity: 0;
  transform: scale(0);
  transform-origin: top left;
}

@keyframes anim-in {
  0% {
    opacity: 1;
    transform: scale(1);
    transform-origin: top left;

  }
  1% {
    display: none!important;
    opacity: 1;
  }
  100% {
    display: none;
    opacity: 0;
    transform: scale(0);
    transform-origin: top left;
  }
}


@keyframes anim-out {
  0% {
    display: none!important;
    opacity: 0;
    transform: scale(0);
    transform-origin: top left;
  }
  1% {
    display: block;
    opacity: 0;
  }
  100% {
    opacity: 1;
    transform: scale(1);
    transform-origin: top left;
  }
}


.page-content{

}

.section{
  width: 100%;
}

.kill-gutters{
  padding-left: 0;
  padding-right: 0;
}

@media only screen and (min-width : 480px) {
  .page-content{

  }
}

// Component styles are injected through grunt
// injector
@import 'gen-app/gen-app.scss';
@import 'main/main.scss';
@import 'quotes/quotes.scss';
@import 'canopy-nav-bar/navbar.scss';
@import 'home-header/home-header.scss';
@import 'quick-quote/quick-quote.scss';
// endinjector
