.quotes{
  margin-top: 75px;
  h1{
    font-size: 32px;
    font-weight: 200;
    margin-bottom: 25px;
  }

  h2{
    color: #fff;
    font-weight: 300;
  }
  .quote-section{
    border: 1px solid rgba(57, 93, 114, .66);
    margin-bottom: 40px;
    padding-bottom: 15px;
    md-toolbar{
      background-color: darkgray;
    }
    md-list{
      border-top: 1px solid rgba(57, 93, 114, .66);
      overflow: hidden;
      md-list-item{
        height: 88px;
        img{
          border: 1px solid grey;
          margin: 15px 10px;
          width: 70px;
        }
        .md-list-item-text{
          margin-top: 16px;
          padding-left: 5px;
          h3{
            font-size: 24px;
            font-weight: 300;
            margin-bottom: 7px;
            text-transform: uppercase;
          }
          h4{
            font-size: 16px;
            font-weight: 500;
          }
        }
        .md-button{
          background-color: grey !important;
          border: 1px solid rgba(57, 93, 114, .33);
          margin-top: 27px;
          *{
            color: #fff;
            text-transform: none;
          }
        }
      }
    }
  }

}

@media only screen and (min-width : 480px) {

}

@media only screen and (min-width : 642px) {

}

@media only screen and (min-width : 768px) {

}

@media only screen and (min-width : 992px) {

}

@media only screen and (min-width : 1200px) {
  .quotes{
    margin-top: 100px;
  }
}
