<canopy-nav-bar></canopy-nav-bar>
<div class="quotes">
  <div class="container">
    <h1>Here are your personalized quotes</h1>
    <div class="quote-section">
      <md-toolbar class="md-canopy-theme">
        <h2 class="md-toolbar-tools">
          <span>10 Year Term</span>
        </h2>
      </md-toolbar>
      <md-content>
        <md-list>
          <md-list-item class="md-3-line">
            <img ng-src="../assets/images/principal.jpg" alt="Principal">
            <div class="md-list-item-text">
              <h3>Principal</h3>
              <h4>${{ctrl.quotes.ten.principal.toFixed(2)}} per month.</h4>
            </div>
            <md-button class="md-raised md-primary" ui-sref="application({premium: ctrl.quotes.ten.principal, details: {term: 10, carrier: 'Principal'}, userInfo: ctrl.userInfo})">Apply Now <i class="fa fa-caret-right"></i></md-button>
            <md-divider md-inset ng-if="!$last"></md-divider>
          </md-list-item>
          <md-list-item class="md-3-line">
            <img ng-src="../assets/images/prudential.jpg" alt="Prudential">
            <div class="md-list-item-text">
              <h3>Prudential</h3>
              <h4>${{ctrl.quotes.ten.prudential.toFixed(2)}} per month.</h4>
            </div>
            <md-button class="md-raised md-primary" ui-sref="application({premium: ctrl.quotes.ten.prudential, details: {term: 10, carrier: 'Prudential'}, userInfo: ctrl.userInfo})">Apply Now <i class="fa fa-caret-right"></i></md-button>
            <md-divider md-inset ng-if="!$last"></md-divider>
          </md-list-item>
          <md-list-item class="md-3-line">
            <img ng-src="../assets/images/sagicor.jpg" alt="Sagicor">
            <div class="md-list-item-text">
              <h3>Sagicor</h3>
              <h4>${{ctrl.quotes.ten.sagicor.toFixed(2)}} per month.</h4>
            </div>
            <md-button class="md-raised md-primary" ui-sref="application({premium: ctrl.quotes.ten.sagicor, details: {term: 10, carrier: 'Sagicor'}, userInfo: ctrl.userInfo})">Apply Now <i class="fa fa-caret-right"></i></md-button>
            <md-divider md-inset ng-if="!$last"></md-divider>
          </md-list-item>
        </md-list>
      </md-content>
    </div>
    <div class="quote-section">
      <md-toolbar class="md-canopy-theme">
        <h2 class="md-toolbar-tools">
          <span>20 Year Term</span>
        </h2>
      </md-toolbar>
      <md-content>
        <md-list>
          <md-list-item class="md-3-line">
            <img ng-src="../assets/images/principal.jpg" alt="Principal">
            <div class="md-list-item-text">
              <h3>Principal</h3>
              <h4>${{ctrl.quotes.twenty.principal.toFixed(2)}} per month.</h4>
            </div>
            <md-button class="md-raised md-primary" ui-sref="application({premium: ctrl.quotes.twenty.principal, details: {term: 20, carrier: 'Principal'}, userInfo: ctrl.userInfo})">Apply Now <i class="fa fa-caret-right"></i></md-button>
            <md-divider md-inset ng-if="!$last"></md-divider>
          </md-list-item>
          <md-list-item class="md-3-line">
            <img ng-src="../assets/images/prudential.jpg" alt="Prudential">
            <div class="md-list-item-text">
              <h3>Prudential</h3>
              <h4>${{ctrl.quotes.twenty.prudential.toFixed(2)}} per month.</h4>
            </div>
            <md-button class="md-raised md-primary" ui-sref="application({premium: ctrl.quotes.twenty.prudential, details: {term: 20, carrier: 'Prudential'}, userInfo: ctrl.userInfo})">Apply Now <i class="fa fa-caret-right"></i></md-button>
            <md-divider md-inset ng-if="!$last"></md-divider>
          </md-list-item>
          <md-list-item class="md-3-line">
            <img ng-src="../assets/images/sagicor.jpg" alt="Sagicor">
            <div class="md-list-item-text">
              <h3>Sagicor</h3>
              <h4>${{ctrl.quotes.twenty.sagicor.toFixed(2)}} per month.</h4>
            </div>
            <md-button class="md-raised md-primary" ui-sref="application({premium: ctrl.quotes.twenty.sagicor, details: {term: 20, carrier: 'Sagicor'}, userInfo: ctrl.userInfo})">Apply Now <i class="fa fa-caret-right"></i></md-button>
            <md-divider md-inset ng-if="!$last"></md-divider>
          </md-list-item>
        </md-list>
      </md-content>
    </div>
    <div class="quote-section">
      <md-toolbar class="md-canopy-theme">
        <h2 class="md-toolbar-tools">
          <span>30 Year Term</span>
        </h2>
      </md-toolbar>
      <md-content>
        <md-list>
          <md-list-item class="md-3-line">
            <img ng-src="../assets/images/principal.jpg" alt="Principal">
            <div class="md-list-item-text">
              <h3>Principal</h3>
              <h4>${{ctrl.quotes.thirty.principal.toFixed(2)}} per month.</h4>
            </div>
            <md-button class="md-raised md-primary" ui-sref="application({premium: ctrl.quotes.thirty.principal, details: {term: 30, carrier: 'Principal'}, userInfo: ctrl.userInfo})">Apply Now <i class="fa fa-caret-right"></i></md-button>
            <md-divider md-inset ng-if="!$last"></md-divider>
          </md-list-item>
          <md-list-item class="md-3-line">
            <img ng-src="../assets/images/prudential.jpg" alt="Prudential">
            <div class="md-list-item-text">
              <h3>Prudential</h3>
              <h4>${{ctrl.quotes.thirty.prudential.toFixed(2)}} per month.</h4>
            </div>
            <md-button class="md-raised md-primary" ui-sref="application({premium: ctrl.quotes.thirty.prudential, details: {term: 30, carrier: 'Prudential'}, userInfo: ctrl.userInfo})">Apply Now <i class="fa fa-caret-right"></i></md-button>
            <md-divider md-inset ng-if="!$last"></md-divider>
          </md-list-item>
          <md-list-item class="md-3-line">
            <img ng-src="../assets/images/sagicor.jpg" alt="Sagicor">
            <div class="md-list-item-text">
              <h3>Sagicor</h3>
              <h4>${{ctrl.quotes.thirty.sagicor.toFixed(2)}} per month.</h4>
            </div>
            <md-button class="md-raised md-primary" ui-sref="application({premium: ctrl.quotes.thirty.sagicor, details: {term: 30, carrier: 'Sagicor'}, userInfo: ctrl.userInfo})">Apply Now <i class="fa fa-caret-right"></i></md-button>
            <md-divider md-inset ng-if="!$last"></md-divider>
          </md-list-item>
        </md-list>
      </md-content>
    </div>
  </div>
</div>
