.hero{
  background: url("../assets/images/hero.jpg");
  background-position: 0 0;
  background-repeat: no-repeat;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  padding: 25px 15px;


  //TYPOGRAPHY
  h2.md-display-1{
    color: $white;
    font-weight: 300;
    text-shadow: 1px 1px 5px rgba(100,100,100,.8);
  }

  h3.md-title{
    color: lighten($canopy-dark-blue, 10%);
    margin: 25px 0 15px;
    text-shadow: 1px 1px 1px rgba(0, 0, 0, .10);
  }

  p.md-caption{
    color: darken($canopy-text, 5%);
    margin-top: 20px;
  }

}

.about, .simple, .secure, .choice{
  padding: 40px 15px;
}

.about{
  h1{
    color: $canopy-dark-blue;
    font-weight: 300;
    margin: 25px 0;
    text-shadow: 1px 1px 1px rgba(0,0,0,.5);
  }

  p{
    color: darken($canopy-text, 10%);
    font-family: "Helvetica Neue Light", "HelveticaNeue-Light", "Helvetica Neue", Calibri, helvetica, arial;
    font-size: 16px;
    font-weight: 400;
    letter-spacing: 1px;
    line-height: 24px;
    margin: 30px 0 25px;
    text-shadow: 1px 1px 1px rgba(100, 100, 100, 0.2);
  }

  h6{
    color: darken($canopy-text, 20%);
    font-weight: 600;
    font-size: 18px;
    margin: 50px 0 35px;
    text-shadow: 1px 1px 1px rgba(100, 100, 100, 0.2);
  }
}

.simple, .secure, .choice{
  h2, h3{
    color: #fff;
  }

  h2{
    font-size: 54px;
    font-weight: 200;
    margin: 20px 0 0;
  }

  h3{
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-weight: 200;
    font-size: 19px;
    font-style: italic;
    margin: 10px 0 50px;
  }

  h4{
    font-size: 24px;
    font-weight: 500;
  }
}

.simple, .secure{
  padding-bottom: 50px;
  .step{
    margin-bottom: 50px;

    img{
      margin: 8px auto;
      width: 90%;
    }

    .fa{
      color: #fff;
      font-size: 125px;
      margin: 5px 0 -10px;

    }

    .fa-expeditedssl{
      border-radius: 50%;
      background-color: $canopy-dark-blue;
      box-shadow: 1px 2px 10px rgba(0,0,0,.25);
      -webkit-text-stroke: 1px $canopy-dark-blue;
    }

    .fa-user-secret, .fa-shield{
      background-color: $canopy-dark-blue;
      color: white;
    }

    .fa-user-secret{
      box-shadow: -5px 5px 0 30px $canopy-green inset;
      -webkit-text-stroke: 3px $canopy-dark-blue;
    }

    .fa-shield{
      box-shadow: 6px -8px 0 20px $canopy-green inset;
      -webkit-text-stroke: 4px $canopy-dark-blue;
    }

    p{
      color: $white;
      font-size: 18px;
      line-height: 28px;
      margin-top: 15px;
      text-align: center;
    }
  }
}

.simple h4{
  color: $canopy-green;
}

.secure h4{
  color: $canopy-dark-blue;
}


@media only screen and (min-width : 400px) {
  .hero{
    //TYPOGRAPHY
    span {
      font-size: 21px;
      line-height: 28px;
    }
  }
}

@media only screen and (min-width : 768px) {
  .hero{
    height: 800px;
    padding: 25px 0;
  }


}

@media only screen and (min-width : 992px) {
  .hero{
    span{
      line-height: 38px;
    }
  }

  .about, .simple, .secure, .choice{
    padding: 80px 15px 120px;
  }

  .about{
    h1{
      font-size: 48px;
      margin-bottom: 75px;
    }

    p{
      font-size: 20px;
      line-height: 40px;
      margin: 40px 0 25px;
    }

    h6{
      font-size: 20px;
      margin: 75px 0 35px;
    }
  }

  .simple, .secure, .choice{
    h2{
      font-size: 80px;
      font-weight: 200;
      margin: 20px 0 0;
    }

    h3{
      font-weight: 200;
      font-size: 24px;
      margin: 15px 0 60px;
    }

    h4{
      font-size: 32px;
      font-weight: 500;
    }
  }

  .simple, .secure{
    .step{

      img{
        margin: 20px auto;
      }
    }
  }
}

@media only screen and (min-width : 1200px) {
  .hero{
    background-position: 0 10%;
    height: 768px;
  }
}


@media only screen and (min-width : 1400px) {
  .hero{
    background-position: 0 20%;
  }
}

@media only screen and (min-width : 1600px) {
  .hero{
    background-position: 0 40%;
  }
}

