.home-header{
  /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#eff4f4+0,d4d8d7+100 */
  /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#eff4f4+0,e0e5e5+100 */
  background: $canopy-background; /* Old browsers */
  background: -moz-linear-gradient(top,  #eff4f4 0%, #e0e5e5 100%); /* FF3.6-15 */
  background: -webkit-linear-gradient(top,  #eff4f4 0%,#e0e5e5 100%); /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(to bottom,  #eff4f4 0%,#e0e5e5 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  -webkit-box-shadow: 0px 3px 15px 0px rgba(98,131,150,0.66);
  -moz-box-shadow: 0px 3px 15px 0px rgba(98,131,150,0.66);
  box-shadow: 0px 3px 15px 0px rgba(98,131,150,0.66);
  position: relative;
  z-index: 999;
  .navbar.navbar-default{
    background-color: transparent;
    border: none;
    margin-bottom: 0;
  }
  .header-text{
    border-bottom: 1px $canopy-dark-blue solid;
    color: lighten($canopy-dark-blue, 5%);
    padding-top: 5px;
    position: relative;
    h2{
      font-size: 28px;
      line-height: 32px;
      font-weight: 300;
      margin: 20px 0 0 0;
      text-align: center;
      text-transform: uppercase;
    }
    .sub-header{
      margin: 35px 0;
      h3, h4{
        font-weight: 400;
        line-height: 20px;
        text-align: center;
      }
      h3{
        color: $canopy-dark-blue;
        font-size: 16px;
        margin: 10px 0;
        .bold{
          color: darken($canopy-green, 2.5%);
          font-weight: 700;
        }
      }
      h4{
        color: lighten(desaturate($canopy-dark-blue, 60%), 30%);
        font-size: 13px;
        line-height: 18px;
        margin: 25px 0;
      }
    }
    .half-circle{
      background: #e0e5e5;
      border-radius: 50% / 100%;
      border: 1px $canopy-dark-blue solid;
      border-top: none;
      border-top-left-radius: 0;
      border-top-right-radius: 0;
      bottom: -25px;
      -webkit-box-shadow: 0px 2px 2px 0px rgba(98, 131, 150, 0.5);
      -moz-box-shadow: 0px 2px 2px 0px rgba(98, 131, 150, 0.5);
      box-shadow: 0px 2px 2px 0px rgba(98, 131, 150, 0.5);
      cursor: pointer;
      height: 25px;
      left: calc(50% - 30px);
      position: absolute;
      text-align: center;
      width: 60px;
      z-index: 998;
      .fa{
        font-size: 24px;
        margin-top: -4px;
      }
    }
    .half-circle:active, .half-circle:target, .half-circle:focus{
      outline: none;
    }
  }
}

/* Extra Small Devices, Phones */
@media only screen and (min-width : 480px) {
  .home-header{
    .header-text{
      h2{
        font-size: 36px;
        line-height: 42px;
      }
      .sub-header{
        h3{
          font-size: 18px;
          .bold{
            font-weight: 600;
          }
        }
        h4{
          color: lighten(desaturate($canopy-dark-blue, 60%), 10%);
          font-size: 14px;
          font-weight: 300;
        }
      }
      .half-circle{
        bottom: -30px;
        height: 30px;
        left: calc(50% - 36px);
        width: 66px;
        .fa{
          font-size: 24px;
          margin-top: -4px;
        }
      }
    }
  }
}

/* Small Devices, Tablets */
@media only screen and (min-width : 642px) {
  .home-header{
    .header-text{
      h2{
        font-size: 40px;
        line-height: 46px;
        margin: 15px 0 0 0;
      }
      .sub-header{
        margin: 40px 0;
        h3{
          font-size: 22px;
          font-weight: 300;
          margin: 35px 0 25px;
          .bold{
            font-weight: 500;
          }
        }
      }
    }
  }
}

/* Small Devices, Tablets */
@media only screen and (min-width : 768px) {
  .home-header{
    .header-text{
      padding-top: 10px;
      h2{
        font-size: 42px;
        line-height: 50px;
        margin: 20px 0 0 0;
      }
      .sub-header{
        margin: 40px 0 50px;
        h3{
          font-size: 22px;
          font-weight: 300;
          margin: 35px 0 25px;
          .bold{
            font-weight: 500;
          }
        }
        h4{
          padding: 0 50px;
        }
      }
    }
  }
}

/* Medium Devices, Desktops */
@media only screen and (min-width : 992px) {
  .home-header{
    .header-text{
      padding-top: 20px;
      h2{
        margin: 10px 0 0 0;
      }
      .sub-header{
        margin: 35px 0 55px;
        h3{
          margin: 25px 0;
        }
        h4{
          font-size: 16px;
          font-weight: 300;
          margin: 30px 0;
          padding: 0 150px;
        }
      }
    }
  }
}

/* Large Devices, Wide Screens */
@media only screen and (min-width : 1200px) {
  .home-header{
    .header-text{
      h2{
        margin: 10px 0 0 0;
      }
      .sub-header{
        margin: 35px 0 60px;
        h3{
          margin: 35px 0;
        }
        h4{
          margin: 25px 0;
          padding: 0 200px;
        }
      }
    }
  }
}
